[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.3.1"
port-for = "==0.6.3"
mirakuru = "==2.5.1"
psycopg = "==3.1.9"

[dev-packages]
towncrier = "==22.12"
pytest-cov = "==4.0.0"
pytest-xdist = "==3.3.1"
mock = "==5.0.2"
black = "==23.3.0"
mypy = "==1.3.0"
types-setuptools = "==67.8.0.0"
tbump = "==6.9.0"
ruff = "==0.0.269"
