[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.4.2"
port-for = "==0.7.1"
mirakuru = "==2.5.1"
psycopg = "==3.1.10"

[dev-packages]
towncrier = "==23.6.0"
pytest-cov = "==4.1.0"
pytest-xdist = "==3.3.1"
mock = "==5.1.0"
black = "==23.9.1"
mypy = "==1.5.1"
types-setuptools = "==68.2.0.0"
tbump = "==6.11.0"
ruff = "==0.0.288"
rstcheck = {version = "==6.1.2", extras = ["sphinx", "toml"]}
