[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.0.0"
port-for = "==0.7.2"
mirakuru = "==2.5.2"
psycopg = "==3.1.18"

[dev-packages]
towncrier = "==23.11.0"
pytest-cov = "==4.1.0"
pytest-xdist = "==3.5.0"
mock = "==5.1.0"
black = "==24.1.1"
mypy = "==1.8.0"
types-setuptools = "==69.0.0.20240125"
tbump = "==6.11.0"
ruff = "==0.2.1"
rstcheck = {version = "==6.2.0", extras = ["sphinx", "toml"]}
