# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
psycopg[binary]==3.0.13; platform_python_implementation != "PyPy"
psycopg==3.0.12; platform_python_implementation == "PyPy"
-r requirements-test.txt
