# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pip>=9  # minimum installation requirements
setuptools>=21  # minimum installation requirements
coverage==4.5.1 # pytest-cov
pytest==3.8.2
psycopg2==2.7.5; platform_python_implementation != "PyPy"
psycopg2cffi==2.8.1; platform_python_implementation == "PyPy"
port-for==0.4
mirakuru==1.0.0
