# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==4.1 # pytest-cov
pylama==7.1.0
pyflakes==1.2.3
pydocstyle==1.0.0
pep8==1.7.0
mccabe==0.5.2
pyroma==2.0.2
pytest==3.0.2
psycopg2==2.6.2
