# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
psycopg[binary]==3.0.3; platform_python_implementation != "PyPy"
psycopg==3.0.2; platform_python_implementation == "PyPy"
-r requirements-test.txt
